@import './variables.scss';

html{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16pt;
    text-rendering: geometricPrecision;
    p {
        margin: 32px 0px;
    }
    a {
        color: $dark_blue;
        text-decoration: none;
    }
    body {
        background: $off_white;

        .hover-me {
            opacity: 0.7;
            cursor: pointer;
            position: relative;
            color: $red;
            -webkit-transition: opacity 100ms;
            -moz-transition: opacity 100ms;
            -o-transition: opacity 100ms;
            transition: opacity 100ms;

        }
        .hover-me:hover {
            opacity: 1;
            border-bottom-color: $dark_blue;
        }
        .intro {
            padding: $section_padding;
            padding-top: 14%;
            box-sizing: border-box;
            width: $section_width;
            margin: 0 auto;

            p {
                font-size: 1.35em;
                line-height: 1.25em;
                color: $dark_blue;
            }
            .under-line {
                width: 100%;

                .under-line-inner {
                    height: 5px;
                    background-color: $dark_blue;
                }
            }
        }
        .about-me {
            padding: $section_padding;
            box-sizing: border-box;
            width: $section_width;
            margin: 0 auto;

            p {
                color: $dark_blue;
            }
            .work-experience-link {
                float: left;
                padding: 20px;
                width: 30%;
                margin-right: 3%;
                text-align: center;
                color: $off_white;
                font-weight: 700;
                background-color: $blue;
                box-sizing: border-box;
            }
        }
        .github-link {
            background-color: $blue;
            width: 31px;
            height: 31px;
            margin-top: 31px;
            float: left;
            border-radius: 100%;

            img {
                width: 32px;
                height: 32px;
            }
        }
    }
}