@import './variables.scss';

html{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16pt;
    text-rendering: geometricPrecision;
    p {
        margin: 32px 0px;
    }
    a {
        color: $dark_blue;
        text-decoration: none;
    }
    body {
        background: $off_white;
        margin: 0px;
        padding: 0px;

        .inner {
            padding: $section_padding;
            box-sizing: border-box;
            width: $section_width;
            margin: 0 auto;

            p {
                float: left;
            }
        }
        .under-line {
            width: 100%;

            .under-line-inner {
                height: 5px;
                background-color: $dark_blue;
            }
        }
        .hover-me {
            opacity: 0.7;
            cursor: pointer;
            position: relative;
            color: $red;
            -webkit-transition: opacity 100ms;
            -moz-transition: opacity 100ms;
            -o-transition: opacity 100ms;
            transition: opacity 100ms;

        }
        .hover-me:hover {
            opacity: 1;
        }
        .intro {
            padding: $section_padding;
            padding-top: 14%;
            box-sizing: border-box;
            width: $section_width;
            margin: 0 auto;

            p {
                font-size: 1.35em;
                line-height: 1.25em;
                color: $dark_blue;
            }
        }
        .about-me {

            p {
                font-size: 1.35em;
                line-height: 1.25em;
                color: $dark_blue;
            }
            .work-experience-list {
                width: 100%;
                display: block;
            }
            .work-experience-link {
                float: left;
                padding: 20px;
                padding-top: 4.5em;
                width: 33.33%;
                height: 10em;
                text-align: center;
                color: $off_white;
                font-weight: 700;
                font-size: 1em;
                background-color: $red;
                box-sizing: border-box;
                text-decoration: none;

                &.bevspot {
                    background-color: $bevspot;
                }
                &.mtc {
                    background-color: $blue;
                }
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        .work-experience {
            float: left;
            p {
                float: none;
            }
            .relevant-skills,
            .project-element-list {
                width: 100%;
            }
        }
        .github-link {
            background-color: $blue;
            width: 31px;
            height: 31px;
            margin-top: 31px;
            float: left;
            border-radius: 100%;

            img {
                width: 32px;
                height: 32px;
            }
        }
    }
}