$off_white: rgb(249, 249, 249);
$dark_blue: rgb(52,73,94);
$blue: rgb(52,152,219);
$red: rgb(214,73,51);
$bevspot: rgb(252, 184, 81);
$section_padding: 0px 20px;
$section_padding_mobile: 0px 10px;
$section_width: 80%;
$section_width_mobile: 90%;